.WebSockets {

}

.WebSockets__Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rebeccapurple;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  width: clamp(100px, 300px, 700px);
}

.WebSockets__Input {
  padding: 0.5rem;
  outline-color: rebeccapurple;
  border: 1px solid rebeccapurple;
  border-radius: 0.2rem;
}

.WebSockets__Button {
  width: fit-content;
  align-self: flex-end;
  border: 1px solid rebeccapurple;
  outline-color: rebeccapurple;
}

.WebSockets__Button:focus {
  outline-color: rebeccapurple;
}

.WebSockets__Message {

}